<html>
<head>    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
            $.get('/statistics', function (response) {
                var my_div = document.getElementById('data4_div'); 
                const correlation = response.correlation;                
                my_div.innerHTML = `<h1>Кореляція = ${correlation}</h1>`;
                const roundedCorrelation = Math.round(+correlation);
                switch (roundedCorrelation) {
                    case -1:
                        my_div.innerHTML += `<p>Вологість та пил пов'язані, між елементами сильна від'ємна корреляція. 
                            Тому при рості вологості запиленість зменшиться.
                            Та навпаки.</p>`;
                        break;                    
                    case 1:
                        my_div.innerHTML += `<p>Вологість та пил пов'язані, між елементами сильна додатня корреляція. 
                            Тому при рості вологості запиленість збільшиться.
                            Та навпаки.</p>`;
                        break
                    default:
                        my_div.innerHTML += `<p>Вологість та пил не пов'язані.</p>`;
                        break;
                }
                const regression = response.regression;
                const predictions = response.predictions;
                my_div.innerHTML += `<h2>Очікувана запиленість при певному рівні вологи:</h2>`;                
                for(let i = 0; i < predictions.length; i++) {
                    my_div.innerHTML += `<p>Вологість повітря: ${predictions[i][0]}\tЗапиленість: ${predictions[i][1]}</p>`;
                }
                
            });
    </script>
    <script type="text/javascript">
        $.get('/isairgood', function (response) {
            let my_div = document.getElementById('data1_div'); 
            my_div.innerHTML = `<p>${response.resp}</p>`;
        });
    </script>
    <script type="text/javascript">
        $.get('/istemphumgood', function (response) {
            let my_div = document.getElementById('data6_div'); 
            my_div.innerHTML = `<p>${response.resp}</p>`;
        });
    </script>
    <script type="text/javascript">    
        $.get('/isdustgood', function (response) {
            let my_div = document.getElementById('data5_div'); 
            my_div.innerHTML = `<p>${response.resp}</p>`;
        });
    </script>
</head>

<body>
    <a href="http://localhost:3000">
        <h1>Go home</h1>        
    </a>
    <h1>Натисніть Ctrl+P для друку або збереження звіту</h1>
    <div id="airaverage_chart"></div>
    <div id="data1_div"></div>
    <div id="aircomposition_chart"></div>
    <div id="pmaverage_chart"></div>
    <div id="pmvshum_chart"></div>
    <div id="data4_div"></div>
    <div id="pollution_chart"></div>
    <div id="data5_div"></div>
    <div id="tempandhum_chart"></div>
    <div id="data6_div"></div>

    <script src="../javascripts/airaverage.js"></script>
    <script src="../javascripts/aircomposition.js"></script>
    <script src="../javascripts/pmaverage.js"></script>
    <script src="../javascripts/pmvshum.js"></script>
    <script src="../javascripts/pollution.js"></script>
    <script src="../javascripts/tempandhum.js"></script>
</body>

</html>