<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Air checker</title>  
</head>

<body>
    <a href="http://localhost:3000/randomize">
        <h1>Randomize data</h1>
    </a>
    <a href="http://localhost:3000/air">
        <h1>Check current data</h1>
    </a>
    <a href="http://localhost:3000/airaverage">
        <h1>Get the composition of the air</h1>
    </a>
    <a href="http://localhost:3000/pmVsHum">
        <h1>Check dependence of the amount of dust on air humidity</h1>
    </a>
    <a href="http://localhost:3000/pmaverage">
        <h1>Quantity of pm10 and pm2.5</h1>
    </a>     
    <a href="http://localhost:3000/pollution">
        <h1>View amount of dust in the air</h1>
    </a>
    <a href="http://localhost:3000/tempandhum">
        <h1>Check air temperature and humidity</h1>
    </a>                   
    <a href="http://localhost:3000/aircomposition">
        <h1>Graphs of air composition</h1>
    </a>                            
</body>
</html>