<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Air checker</title>  
</head>

<body>
    <a href="http://localhost:3000/randomize">
        <h1>Згенерувати дані</h1>
    </a>
    <a href="http://localhost:3000/air">
        <h1>Проглянути дані</h1>
    </a>
    <a href="http://localhost:3000/complex">
        <h1>Комплексний звіт</h1>
    </a>
    <a href="http://localhost:3000/airaverage">
        <h1>Перевірити склад повітря</h1>
    </a>
    <a href="http://localhost:3000/pmaverage">
        <h1>Перевірити запиленість повітря</h1>
    </a>     
    <a href="http://localhost:3000/pmVsHum">
        <h1>Дослідити залежність кількості мікрочастинок від вологості повітря</h1>
    </a>
    <a href="http://localhost:3000/pollution">
        <h1>Перевірити забрудненість повітря за рік</h1>
    </a>
    <a href="http://localhost:3000/tempandhum">
        <h1>Перевірити температуру та вологість повітря за рік</h1>
    </a>                   
    <a href="http://localhost:3000/aircomposition">
        <h1>Дослідити зміну складу повітря за рік</h1>
    </a>                            
</body>
</html>