<html>

<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['scatter']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('/humidity/data', function (response) {
                console.log(response);

                // Create the data table.
                var data = new google.visualization.DataTable();
                data.addColumn('number', 'Pollution');
                data.addColumn('number', 'Humidity');
                data.addRows(response);

                var options = {
                    title: 'Залежність забрудненості від вологості:',
                    width: 1000,
                    height: 800,
                    hAxis: { title: 'Pollution' },
                    vAxis: { title: 'Humidity' },
                };

                var chart = new google.charts.Scatter(document.getElementById('chart_div'));

                chart.draw(data, google.charts.Scatter.convertOptions(options));
            }, 'json');
        }
    </script>
</head>

<body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
</body>

</html>